@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

nav{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.item{
    color: white;
    font-weight: 900;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-bottom: transparent;

}

.item:hover{
    color: rgb(255, 255, 255);
    
    border-bottom: 3px solid rgb(247, 247, 247);
}