@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

footer{
    padding: 1px;
    text-align: center;

}    

.footer-text{
    color: #ffffff;
    font-weight: 900;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}