@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  background: url(./img/grafico1.jpg);
  background-blend-mode: darken; 
  background-size:200% 300%;
  animation: fmovimiento 15s linear infinite alternate;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.fondo2{
  background-image: url(https://i.pinimg.com/564x/07/2e/d3/072ed316ba78950f3041ead1239f1256.jpg);
  background-blend-mode: darken; 
  background-size: contain;
  min-height: 100vh;
}






.container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 10px;
}

@keyframes fmovimiento{
  from{
      background-position: 0 0;
  
  }
  to{
  background-position: 100% 100%;
  }
}

.title1{
	text-align: center;
    grid-column: 1/6;
}

.title1 h1 {
	background-image: url(https://rebeccazhou-playground.glitch.me/img/gradient.gif);
  font-family: 'Poppins', sans-serif;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
}

.App-logo {
  height: 40vmin;
  margin-top: auto;
  margin-left: 30px;
  pointer-events: none;
  grid-column: 2/6;
  border-radius: 300px;
}



.title2{
    grid-column: 2/5;
}

.title2 h2{
  font-family: 'Poppins', sans-serif;
	color: #402271;
	font-size: 40px;
}



@media screen and (min-width: 412px){
  .container{
    margin-top: 50px;
  }

  .title1 h1 {
    font-size: 70px;
  }


  .App-logo {
    height: 50vmin;
    margin-top: 20px;
  }

  .title2{
    margin-top: 50px;
    font-size: 50px;
  }
}    

@media screen and (min-width: 390px){
  .container{
    margin-top: 30px;
  }

  .title1 h1 {
    font-size: 70px;
  }


  .App-logo {
    height: 50vmin;
    margin-top: 20px;
  }

  .title2{
    margin-top: 10px;
    font-size: 50px;
  }
}    

@media screen and (min-width: 360px){

  .App-logo {
    height: 50vmin;
    margin-top: 20px;
  }
  .title2{
    margin-top: 30px;
    font-size: 50px;
  }
}

@media screen and (min-width: 768px){
  .App {
    background-size:200% 300%;
  }

    .container{
    margin-top: 100px;
  }

  .title1{
    text-align: center;
      grid-column: 1/6;
  }

  .title1 h1 {
    font-size: 100px;
  }


  .App-logo {
    height: 40vmin;
    margin-left: 70px;
    pointer-events: none;
    grid-column: 2/6;
    border-radius: 300px;
    margin-top: 50px;
  }

  .title2{
    margin-top: 40px;
    grid-column: 3/3;
  }

  .title2 h2{
    font-size: 60px;
  }
}

@media screen and (min-width: 1024px){
  .App {
    background-size:200% 300%;
  }

  .container{
    margin-top: 10px;
  }
  
  .title1{
    margin-top: 80px;
      grid-column: 1/4;
  }
  
  .title1 h1 {
    font-size: 100px;
  }
  
  .App-logo {
    height: 50vmin;
    margin-top: 50px;
    margin-left: 100px;
    pointer-events: none;
    grid-column: 4/6;
    border-radius: 300px;
  }
  
  
  
  .title2{
      grid-column: 4/6;
  }
  
  .title2 h2{
    font-family: 'Poppins', sans-serif;
    color: #402271;
    font-size: 40px;
  }
}